.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch-label {
  font-size: 0.9rem;
  color: var(--gray-2);
  cursor: pointer;
  user-select: none;
}

.switch-checkbox {
  display: none; /* Hide the default ugly checkbox */
}

.switch-lever {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  display: block;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switch-lever::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.switch-checkbox:checked + .switch-lever {
  background-color: var(--primary-color);
}

.switch-checkbox:checked + .switch-lever::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}